name: CKAN

on:
  push:
    branches:
      - main
    paths:
      - 'data/**'
      - 'datapackage/**'
  workflow_dispatch:

jobs:
  publish_update:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install packages
        run: |
          python -m pip install --upgrade pip
          pip install dpckan requests

      - name: Create datapackage.json
        run: python scripts/gerar_datapackage.py

      - name: Publish dataset to CKAN (NO DATASTORE)
        env:
          CKAN_HOST: https://www.dados.mg.gov.br
          CKAN_KEY: ${{ secrets.CKAN_KEY }}
        run: |
          dpckan \
            --datapackage datapackage/datapackage.json \
            --ckan-host "$CKAN_HOST" \
            --ckan-key "$CKAN_KEY" \
            dataset create || \
          dpckan \
            --datapackage datapackage/datapackage.json \
            --ckan-host "$CKAN_HOST" \
            --ckan-key "$CKAN_KEY" \
            dataset update


